body{
  height: 100%;
  background-image: linear-gradient(to right, aqua , blue);
 }
.logincontainer {
   background-color: white;
    margin-top: 100px; margin-bottom: 100px;
    border: 2px solid gainsboro;
  border-radius: 5px;
}
 .centercontent{
  float: none !important;
   margin: 0 auto !important;
 }
 .no-outline:focus {
  outline: none;
  border: 0px;;
} 
.padding-empty{
  padding: 0px;
}
#error-msg{
color: red;
margin-top: 20px;
    text-align: center;
}
.center-div{
  text-align: center;
  display: flex;
   align-items: center;
   justify-content: center;
   float: none; margin: auto;
}
.footer-menu{
height: 30px;
text-align: center;
display: flex;
 align-items: center;
 justify-content: center;
 text-decoration: none;
 font-size: 15px;
 color: white;
 padding: 0px;
}
.footer-menu:hover{
  text-decoration: none;
   color: white;
   border-radius: 3px;
   color: black;
  }
  
  #grid-item-inner{
    border: 2px solid gainsboro;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    width: 30%;
    margin: 0 18px 18px 10px;;
   }
   .order-active{
    background: darkblue;
    }
    table {
      border-collapse: collapse;
   }
   table tr td {
      border: 1px solid gray;
   }
   